.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems{
    padding: 10px;
    color: black;
}

.dialogItems .activeDialog {
    color: blue;    
}

.messages{
    padding: 10px;
}

.message {
    padding: 10px;
    color: black;
}

